@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
	box-sizing: border-box;
}

body {
	background: linear-gradient(to right, #e66465, #9198e5);
	font-family: 'Roboto', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	overflow: hidden;
}

.container {
	position: relative;
	height: 50px;
}

.container .search {
	height: 50px;
	width: 50px;
    padding: 15px;
	border: 0;
    border-radius: 5px;
	transition: width 0.3s ease;
}

.btn {
	height: 50px;
	width: 50px;
    padding: 10px;
	border: 0;
    border-radius: 5px;
	position: absolute;
	top: 0;
	left: 0;
	font-size: 24px;
	cursor: pointer;
	transition: transform 0.3s ease;
}

.container .search, .btn:focus {
	outline: none;
}

.container.active .search {
	width: 200px;
}

.container.active .btn {
	transform: translateX(198px);
}